.mainMenu {
    background-color: deepskyblue;
    position: fixed;
    top: 0;
    margin: 10px auto;
    float: none;
}

.mainMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.mainMenu li {
    background-color: deepskyblue;
    border-right: blue 1px solid;
    padding-top: 15px;
    display: inline;
    float: left;
}

.mainMenu a {
    display: block;
    text-decoration: none;
    padding: 25px;
    width: 100px;
    color: #fff;
}

.mainMenu li:hover {
    background-color: lightgrey;
}

.mainMenu a:hover {
    color: #111;
}

.content {
    margin-top: 100px;
    width: 1036px;
}